{% extends "base.html" %}
{% load static my_filters%}

{% block content %}
    <div class="container">
        <h2>Carrito de Compras</h2>
        
        {% if carrito_items %}
            <ul class="list-group mb-4">
                {% for item, cantidad in carrito_items %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ item.nombre_destino }} - {{ cantidad }} x ${{ item.valor }}
                    <span>Total: ${{ item.valor|multiply:cantidad }}</span>
                    <div>
                        <button onclick="changeQuantity('decrease', {{ item.id }})">-</button>
                        <span>{{ cantidad }}</span>
                        <button onclick="changeQuantity('increase', {{ item.id }})">+</button>
                    </div>
                </li>
                {% endfor %}

            </ul>
            <h4>Total: ${{ total }}</h4>
            <button onclick="clearCartAndNotify()">Proceder a pagar</button>
        {% else %}
            <p>Tu carrito está vacío.</p>
        {% endif %}
    </div>
{% endblock %}