{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if form.instance.pk %}Editar Paquete Turístico{% else %}Crear Paquete Turístico{% endif %} - Turismo ExtremoSur
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% if form.instance.pk %}Editar Paquete Turístico{% else %}Crear Paquete Turístico{% endif %}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        <a href="{% url 'paquete_list' %}" class="btn btn-secondary mt-3">Cancelar</a>
    </div>
{% endblock %}