{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Nuestros Paquetes</h1>
        <div class="row">
            {% for paquete in page_obj %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if paquete.imagen %}
                            <img src="{{ paquete.imagen.url }}" class="card-img-top" alt="{{ paquete.nombre_destino }}">
                        {% else %}
                            <img src="{% static 'img/default.png' %}" class="card-img-top" alt="No Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ paquete.nombre_destino }}</h5>
                            <p class="card-text">Fecha de Viaje: {{ paquete.fecha_viaje }}</p>
                            <p class="card-text">Valor: {{ paquete.valor }}</p>
                            # AGREGAR CARRITO ACAAAAAA


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; primero</a>
                    <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">último &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}